{% extends "base.html" %}

{% block body %}
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-4 mx-auto mt-3" style="box-shadow: 4px 5px 8px 4px grey;">
            <div class="text-center mt-1">
                <img src="/static/images/img_398183.png.crdownload" width="150px" alt="">
            </div>
            <form action="/passchange/" method="POST" novalidate>
                {% csrf_token %}
               
               {% if form.non_field_errors %}
               {% for error in form.non_field_errors %}
               <p>{{error}}</p>
                 
               {% endfor %}
                   
               {% endif %}

               {% for fm in form  %}
               {{fm.label_tag}} {{fm}} <p style="color: red;"> {{fm.errors|striptags}} </p> <br>
                 
               {% endfor %}
                   
   
                <button type="submit" style="width: 100%;" class="btn btn-success mb-2">Update</button>
                    
               </form>
             
          </div>
      </div>
  </div>
{% endblock body %}