{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 mx-auto mt-2 " style="box-shadow: 5px 5px 8px 4px grey;" >
            <div class="text-center">
                <img src="/static/images/change.png" width="150px" alt="">
            </div>
            <form action="/profile" method="POST" novalidate>
                {% csrf_token %}
               
               {% if form.non_field_errors %}
               {% for error in form.non_field_errors %}
               <p>{{error}}</p>
                 
               {% endfor %}
                   
               {% endif %}

               {% for fm in form  %}
               {{fm.label_tag}} {{fm}} <p style="color: red;"> {{fm.errors|striptags}} </p> <br>
                 
               {% endfor %}
                   
   
                <button type="submit" style="width: 100%;" class="btn btn-success mb-2">Update</button>
                    
               </form>
        </div>
    </div>
</div>
  
{% endblock body %}